<section class="product__container">
    <div class="product-image__container">
        <img [src]="produto?.imagem">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">{{ produto?.descricao }}</h2>
        <h3 class="product__price">{{ produto?.preco | currency: "BRL" }}</h3>
        <p></p>
        <label>
            Quantity:
            <input type="number" [(ngModel)]="quantidade" min="1">
            unit(s)
        </label>
        <p class="product__availability">
            {{ produto?.quantidadeEstoque }} unit(s) in store
        </p>
        <button (click)="adicionarAoCarrinho()">Add to the cart</button>
    </div>
</section>