.main-header {    
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    gap: 1px;
}

.main-header__title {    
    font-size: 80px;
    letter-spacing: -1.5px;  
    font-family: "Courier New";
    font-size:60px;
    font-weight: bold;
    margin: 0px 80px;
}

.main-header__title a {
    text-decoration: none;
}

.main-header__title--blue {
    color: var(--dark-blue);
}

.main-header__title--orange {
    color: white;
    background-color: var(--orange);
}

.main-header__menu ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-header__menu a {
    padding: 10px 10px;
    color: var(--dark-blue);
    font-weight: 400;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-size: 19px;
}

.main-header__menu a:hover {
    background-color: var(--light-gray);
    border-radius: 4px;
}

.container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
}

.badge-carrinho {
    background-color: var(--blue);
    padding: 5px 10px;    
    border-radius: 4px;
    color: white;
    margin-left: 8px;
}

#main-header__img {
    border-radius: 8px;
}