<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">About</h2>
            <p class="footer__about-text">CompuMart is your one-stop shop for all things computing! They offer a wide selection of laptops, computer parts and accessories to fit your needs and budget. <b>CompuMart is a fictitious online store created as an Angular project for an online course.</b></p>
        </section>
        <address>
            <h2 class="footer__title">Contact</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email&#64;email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; All rights reserved
    </section>
</footer>