.search-form{
    height: 44px;
    display: flex;
}

.search-form input{
    box-sizing: border-box;
    height: 44px;
    padding: 20px;
    flex:1;
    background-color: var(--light-gray);
    color: var(--gray);
    border: none;
    border-radius: 4px;
    transition: all -3s ease-in-out;
    font-size: 22px;
    margin-left: 10px;
}

.search-form button{
    width: 44px;
    height: 44px;
    background-color: var(--blue);
    border:none;
    color: #fff;
    font-size: 22px;
    border-radius: 4px;
}