<h2 class="cart-title">Cart</h2>
<div *ngIf="itensCarrinho.length > 0; else semProduto">
    <ul>
        <li *ngFor="let itemCarrinho of itensCarrinho">
            <img [src]="itemCarrinho.imagem" />
            <p>{{ itemCarrinho.descricao }}</p>
            <p>Price: {{ itemCarrinho.preco | currency: "BRL" }}</p>
            <label>
                Quantity:
                <input type="number" [(ngModel)]="itemCarrinho.quantidade" (change)="calcularTotal()">
            </label>
            <button class="remove-button" (click)="removerProdutoCarrinho(itemCarrinho.id)">X</button>
        </li>
    </ul>
    <h2 class="cart-total">Total: {{ total | currency: "BRL" }}</h2>
    <button class="buy-button" (click)="comprar()">Buy</button>
</div>
<ng-template #semProduto><p>No products have been added to the cart</p></ng-template>